@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&family=Mulish:wght@400;500;600;700&display=swap');
body {
  font-family: 'Mulish', sans-serif;
  color: #2B2420;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Sora', sans-serif;
}
